<html>
    <%-
        include('./components/app-head.ejs', {
            title: config.page.title
        })
    %>

    <style>
        .title {
            font-size: 3rem;
            font-weight: bold;
            margin: 20px 0 10px 0;
        }

        .meta-row {
            height: 35px;
            border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
            margin-bottom: 20px;
        }

        .meta-row > div {
            margin-right: 10px;
        }

        .category {
            font-weight: 600;
        }

        .eta {
            color: rgba(0, 0, 0, 0.3);
        }

        .markdown strong > img {
            border: 1px solid rgba(0, 0, 0, 0.6);
        }
    </style>
<body>
    <div class="responsive-container stack" direction="column">
        <% if (config.page.date) {%>
            <div class="stack" direction="column">
                <div class="title"><%= config.page.title %></div>
                <div class="stack meta-row" vertical-layout="center">
                    <div class="category"><%= config.page.category %></div>
                    <div class="date">
                        <%= this.utils.dayjs.unix(parseInt(config.page.date)).format("MMM D, YYYY") %>
                    </div>
                    <div class="eta"><%= Math.ceil(data['main.md'].content.match(/[\u00ff-\uffff]|\S+/g).length / 300) %> min</div>
                </div>
            </div>
        <% } %>

        <div class="markdown">
            <%- data['main.md'].content %>
        </div>

        <%-
            include('./components/app-foot.ejs')
        %>
    </div>
</body>
</html>
